body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
    scroll-behavior: smooth;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
}

h2 {
    color: #4CAF50;
}

.projects {
    display: flex;
    flex-direction: column;
}

.project {
    background-color: white;
    padding: 15px;
    margin: 10px;
    flex: 1;
    min-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.altium {
    margin-top: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 5px 0;
}

form input, form textarea {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 15%;
}

form button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}

.container {
width: 100%;
justify-content: center;
}

.contact_div {
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    }

    